In [33]:
import pandas as pd
import numpy as np

## Another frequent operation is applying a function on 1D arrays to each column or row. DataFrameâ€™s apply method does exactly this:

In [34]:
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])

In [35]:
frame

               b         d         e
Utah    0.209208 -0.935294 -1.455906
Ohio   -1.472129  0.231199  0.638165
Texas   1.280466 -0.749843 -1.144045
Oregon  1.366587  0.432144 -0.343462

In [26]:
f = lambda x: x.max() - x.min()

In [36]:
def ff(x):
    return(x.max())

In [38]:
frame.apply(ff)

b    1.366587
d    0.432144
e    0.638165
dtype: float64

In [39]:
frame.apply(ff, axis=1)

Utah      0.209208
Ohio      0.638165
Texas     1.280466
Oregon    1.366587
dtype: float64

## Many of the most common array statistics (like sum and mean) are DataFrame methods, so using apply is not necessary.

Element-wise Python functions can be used, too. Suppose you wanted to compute a formatted string from each floating point value in frame. You can do this with applymap:

In [48]:
format = lambda x: '%.2f' % x

In [49]:
frame.applymap(format)

            b      d      e
Utah     0.21  -0.94  -1.46
Ohio    -1.47   0.23   0.64
Texas    1.28  -0.75  -1.14
Oregon   1.37   0.43  -0.34

## The reason for the name applymap is that Series has a map method for applying an element-wise function:

In [31]:
frame['e'].map(format)

Utah       0.49
Ohio       0.25
Texas     -0.41
Oregon     1.27
Name: e, dtype: object

In [32]:
frame

               b         d         e
Utah   -0.119518  0.493374  0.485280
Ohio   -0.565814  0.133903  0.246027
Texas   1.258262 -0.192559 -0.411186
Oregon -0.850384  1.643516  1.270629