# Exercise 7: Clustering the fish data

Now use your standardization and clustering pipeline from the previous exercise to cluster the fish by their measurements, and then create a cross-tabulation to compare the cluster labels with the fish species.

**Step 1:** Load the dataset, extracting the species of the fish as a list `species` _(done for you)_

In [3]:
import pandas as pd

df = pd.read_csv('../datasets/fish.csv')
df.head()

  species  weight  length1  length2  length3  height  width
0   Bream   242.0     23.2     25.4     30.0    38.4   13.4
1   Bream   290.0     24.0     26.3     31.2    40.0   13.8
2   Bream   340.0     23.9     26.5     31.1    39.8   15.1
3   Bream   363.0     26.3     29.0     33.5    38.0   13.3
4   Bream   430.0     26.5     29.0     34.0    36.6   15.1

In [4]:
# remove the species from the DataFrame so only the measurements are left
species = list(df['species'])
del df['species']

**Step 2:** Build the pipeline as in the previous exercise _(filled in for you)._

In [5]:
samples = df.values

from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

scaler = StandardScaler()
kmeans = KMeans(n_clusters=4)
pipeline = make_pipeline(scaler, kmeans)

**Step 3:** Fit the pipeline to the fish measurements `samples`.

In [6]:
pipeline.fit(samples)

Pipeline(memory=None,
     steps=[('standardscaler', StandardScaler(copy=True, with_mean=True, with_std=True)), ('kmeans', KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=4, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0))])

**Step 4:** Obtain the cluster labels for `samples` by using the `.predict()` method of `pipeline`, assigning the result to `labels`.

In [7]:
labels = pipeline.predict(samples)

**Step 5:** Using `pd.DataFrame()`, create a DataFrame `df` with two columns named `'labels'` and `'species'`, using `labels` and `species`, respectively, for the column values.

In [8]:
df = pd.DataFrame({'labels': labels, 'species': species})

**Step 6:** Using `pd.crosstab()`, create a cross-tabulation `ct` of `df['labels']` and `df['species']`.

In [9]:
ct = pd.crosstab(df['labels'], df['species'])

**Step 7:** Display your cross-tabulation, and check out how good your clustering is!

In [10]:
ct

species  Bream  Pike  Roach  Smelt
labels
0           33     0      1      0
1            0    17      0      0
2            0     0      0     13
3            1     0     19      1